
#game{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(3, 51, 53);
    text-transform: uppercase;
}
#b1, #b2, #b3, #b4, #b4, #b5,
#b6, #b7,#b8 ,#b9{
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid rgb(14, 12, 12);
    border-radius: 3px;
    font-size: 30px;
    text-align: center;
}
#button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: rgb(230, 198, 111);
}

